<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
;

$config = new PhpCsFixer\Config();

return $config->setRules([
    '@Symfony'                           => true,
    'yoda_style'                         => ['equal' => false, 'identical' => false, 'less_and_greater' => false],
    'blank_line_after_opening_tag'       => false,
    'phpdoc_no_package'                  => false,
    'concat_space'                       => ['spacing' => 'one'],
    'binary_operator_spaces'             => ['default' => 'align'],
    'increment_style'                    => ['style' => 'post'],
    'no_leading_import_slash'            => false,
])
    ->setFinder($finder)
;
